.noBg {
  background-color: transparent !important;

  :global(.icons) {
    color: var(--icons-color, #000000ef);
    transition: color 1s ease;
  }

  :global(.label) {
    color: var(--label-color, #000000ef);
    transition: color 1s ease;
  }
}

.activeSubTab {
  --icons-color: #1677ff; /* token.colorPrimary */
  --label-color: #1677ff;
}
