.noBg {
  background-color: transparent !important;
  // color:red;
  :global(.icons) {
    color: var(--icons-color);
  }
  :global(.label) {
    color: var(--label-color);
  }
}

.animateColor {
  animation: colorChange 0.3s forwards;
}

@keyframes colorChange {
  from {
    --icons-color: transparent;
    --label-color: transparent;
  }
  to {
    --icons-color: var(--ant-primary-color);
    --label-color: var(--ant-primary-color);
  }
}
